<!DOCTYPE html>
<html>
  <head>
    <title><%= titleDetail %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titleDetail %></h1>
    <p>nik <%= user.nik %></p>
    <p>nama <%= user.nama %></p>
    <p>Alamat <%= user.alamat %></p>
    <p>pengajar <%= user.pengajar %></p>
    <a href="/kepegawaian">Kepegawaiam</a>
    <a href="/">back to home</a>
    <a href="/latihan"latihan></a>

  </body>
</html>
